<div class="row gy-4 mb-4">

    <div class="col-md-4">
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Luogo di nascita"|_ }}</span><span class="asterisco">*</span></div>
            {% partial __SELF__ ~ '::tooltip' msg= 'Se non nati in Italia, selezionare Estero' %}
        </div>
        <div class="dropdown">
            <select data-request="{{__SELF__}}::onCountryCheck" class="form-select btn dropdown-toggle text-start" name="birth_in_italy">
                <option class="dropdown-item" selected value="italy" {% if __SELF__.isForeign == 0 %} selected="selected" {%endif%}>Italia</option>
                <option class="dropdown-item" value="EE" {% if __SELF__.isForeign == 1 %} selected="selected" {%endif%}>Estero</option>
            </select>
        </div>
    </div>




    <div class="col-md-8" id="countryDiv">
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Nazionalità"|_ }}</span>
                {% if __SELF__.isForeign == 1 %}
                <span class="asterisco">*</span>
                {%endif%}
            </div>
            {% partial __SELF__ ~ '::tooltip' msg= 'Se non nati in italia, selezionare la nazione di nascita' %}
        </div>
        {% if __SELF__.isForeign == 1 %}

        <div class="dropdown">
            <select class="form-select btn dropdown-toggle text-start" name="place_of_birth"  required >
                <option value=""></option>
                {% for country in __SELF__.countries %}
                <option value="{{  country['name'] }}"  {% if __SELF__.profile.place_of_birth == country['name'] %} selected="selected" {%endif%}>{{ country['name'] }}</option>
                {%endfor%}
            </select>
        </div>
        {% else %}

        <div class="dropdown">
            <select class="form-select btn dropdown-toggle text-start" name="place_of_birth" disabled>
                <option value=""></option>
            </select>
        </div>
        {%endif%}

    </div>


    <div class="col-md-6" id="birth_prov">
        {% if __SELF__.isForeign == 0 %}
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Provincia di nascita"|_ }}</span><span class="asterisco">*</span></div>

        </div>
        <div class="dropdown"  >
            <select name="birth_province" data-request="{{__SELF__}}::onProvinceSelect" class=" form-select btn dropdown-toggle text-start" required>
                <option value=""></option>
                {% for key,province in __SELF__.provinces %}
                <option value="{{  key }}"  {% if __SELF__.profile.birth_province == key %} selected="selected" {%endif%}>{{ province }}</option>
            {%endfor%}
            </select>
        </div>
        {% else %}
        {% endif %}
    </div>

    <div class="col-md-6"  id="birth_city">
        {% if __SELF__.isForeign == 0 %}
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Città di nascita"|_ }}</span><span class="asterisco">*</span></div>

        </div>
        <div class="dropdown" id="ciyByProvince">
            <select class=" form-select btn dropdown-toggle text-start" name="birth_city" required>
                <option value=""></option>
                {% for city in __SELF__.cities %}
                <option value="{{  city['name'] }}" {% if __SELF__.profile.birth_city == city['name'] %} selected="selected" {% endif %}>{{ city['name'] }}</option>
                {%endfor%}
            </select>
        </div>
        {% else %}

        {% endif %}
    </div>


    <div class="col-md-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span>{{ "Data di nascita"|_ }}</span>
                <span class="asterisco">*</span>
            </div>
            {% partial __SELF__ ~ '::tooltip' msg='Inserire la data di nascita con il formato gg/mm/aaaa, prestanto attenzione ad inserire l\'anno di nascita completo (es: 1980)' %}
        </div>
        <input class="form-control" type="date" name="date_of_birth" value="{{ __SELF__.profile.date_of_birth|date('Y-m-d') }}" required>
    </div>

    <div class="col-md-3">
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Gender"|_ }}</span><span class="asterisco">*</span></div>
            {% partial __SELF__ ~ '::tooltip' msg= 'Selezionare il sesso, così come riportato nel codice fiscale' %}
        </div>
          <div class="dropdown" id="gender">
            <select class=" form-select btn dropdown-toggle text-start" name="gender" required >
                <option value=""></option>
                <option value="F" {% if __SELF__.profile.gender == 'F' %} selected="selected" {% endif %}>{{ "Femmina"|_ }}</option>
                <option value="M" {% if __SELF__.profile.gender == 'M' %} selected="selected" {% endif %}>{{ "Maschio"|_ }}</option>
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Codice fiscale"|_ }}</span><span class="asterisco">*</span></div>
            {% partial __SELF__ ~ '::tooltip' msg= 'Inserire il codice fiscale, prestando attenzione che sia formato da 16 caratteri (9 lettere e 7 numeri)' %}
        </div>
        <input class="form-control text-uppercase" type="text"  placeholder="Inserisci codice fiscale" value="{{ __SELF__.profile.fiscal_code }}" name="fiscal_code" required>
        <div id="fiscal_errors">

        </div>
    </div>

    <div class="col-md-3">
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Tipo di indirizzo"|_ }}</span><span class="asterisco">*</span></div>

        </div>
        <div class="dropdown">
            <select class="form-select btn dropdown-toggle text-start" name="address_type" required>
                <option value=""></option>
                <option value="Privato" {% if __SELF__.profile.address_type == 'Privato' %} selected="selected" {% endif %}>{{ "Privato"|_ }}</option>
                <option value="Lavorativo" {% if __SELF__.profile.address_type == 'Lavorativo' %} selected="selected" {% endif %}>{{ "Lavorativo"|_ }}</option>
            </select>
        </div>
    </div>




    <div class="col-md-7">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span>{{ "Indirizzo"|_ }}</span>
                <span class="asterisco">*</span>
            </div>
            {% partial __SELF__ ~ '::tooltip' msg= 'Inserire l\'indirizzo di residenza, domicilo o lavorativo, specificando se via/piazza/viale, ecc' %}
        </div>
        <input class="form-control text-capitalize" type="text" placeholder="Via, viale, piazza" name="address_line" value="{{ __SELF__.profile.address_line }}" required>
    </div>




    <div class="col-md-2">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span>{{ "Civico"|_ }}</span>
                <span class="asterisco">*</span>
            </div>
            {% partial __SELF__ ~ '::tooltip' msg= 'Inserire il numero civico' %}
        </div>
        <input class="form-control" type="text" placeholder="Numero" name="address_number" value="{{ __SELF__.profile.address_number }}" required>
    </div>




    <div class="col-md-4">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span>{{ "CAP"|_ }}</span>
                <span class="asterisco">*</span>
            </div>
            {% partial __SELF__ ~ '::tooltip' msg= 'Inserire il cap dell\'indirizzo indicato. Se non si è in possesso del cap di zona è possibile inserire anche quello della città (es: Milano 20100)' %}
            </div>
        <input class="form-control" type="text" placeholder="Inserisci CAP" name="zip_code" value="{{ __SELF__.profile.zip_code }}" required>
    </div>









    <div class="col-md-8">
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Provincia"|_ }}</span></div>
        </div>
        <div class="dropdown">
            <select data-request="{{__SELF__}}::onAddressProvinceSelect" class="form-select btn dropdown-toggle text-start" name="address_province" required>
                <option value=""></option>
                {% for key,province in __SELF__.provinces %}
                <option value="{{  key }}" {% if __SELF__.profile.address_province == key %} selected="selected" {% endif %}>{{ province }}</option>
                {%endfor%}
            </select>
        </div>

    </div>

    <div class="col-md-4" id="address_city">
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Città"|_ }}</span><span class="asterisco">*</span></div>
        </div>
        <div class="dropdown">
            <select  class="form-select btn dropdown-toggle text-start" name="address_city" required >
                <option value=""></option>
                {% for city in __SELF__.address_cities %}
                <option value="{{  city['name'] }}" {% if __SELF__.profile.address_city == city['name'] %} selected="selected" {% endif %}>{{ city['name'] }}</option>
                {%endfor%}
            </select>
        </div>

    </div>

    <div class="col-md-4">
        <div class="d-flex justify-content-between align-items-center">
            <div><span>{{ "Regione"|_ }}</span></div>
        </div>
        <div id="AddressregionDiv">
        <input class="form-control" name="address_regione" type="text" value="{{ __SELF__.profile.address_regione }}" placeholder="Regione" disabled="">
        </div>
    </div>



    <div class="col-md-4">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span>{{ "Cellulare"|_ }}</span>
                <span class="asterisco">*</span>
            </div>
            {% partial __SELF__ ~ '::tooltip' msg= 'Inserire un numero di cellulare valido. Il numero può essere privato o aziendale. Se fosse un numero estero si prega di specificare il prefisso.' %}
        </div>
        <input class="form-control" type="tel" placeholder="Cellulare" name="phone_number" value="{{ __SELF__.profile.phone_number }}" required>
    </div>


</div>

