<div class="d-flex justify-content-between align-items-center">
    <div><span>{{ "Nazionalità"|_ }}</span>
        {% if countries is not empty %}
        <span class="asterisco">*</span>
     {%endif%}
    </div>
    {% partial __SELF__ ~ '::tooltip' msg= 'Se non nati in italia, selezionare la nazione di nascita' %}
</div>
<div class="dropdown">
    <select class="form-select btn dropdown-toggle text-start" name="place_of_birth" {% if countries is not empty %} required {%else%} disabled {%endif%}>
        <option value=""></option>
        {% for country in countries %}
        <option value="{{  country['name'] }}">{{ country['name'] }}</option>
        {%endfor%}
    </select>
</div>
