
<section class="registration-form" id="main" >
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form class="mx-auto profile" data-request="{{Profile}}::onProfileUpdate"  data-request-success="javascript:;" id="regForm" data-request-validate>
                    <div class="tab-registration">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" role="tabpanel" id="tab-1" aria-labelledby="first-tab">
                                {% partial  __SELF__ ~ '::forms/stepone.htm' %}
                                {% if __SELF__.formtype == 'full' %}
                                {% partial  __SELF__ ~ '::forms/steptwo.htm' %}
                                {% endif %}
                                {% partial  __SELF__ ~ '::forms/stepthree.htm' %}
                            </div>
                        </div>
                    </div>
                    <div id="errors" class="mt-5">

                    </div>
                </form>


            </div>
        </div>
    </div>
</section>


