

{% if sub_spcs is not empty %}
    <div class="d-flex justify-content-between align-items-center">
        <div><span>{{ "Specializzazione"|_ }}</span>
            {% if sub_spcs is empty %}  {%else%} <span class="asterisco" >*</span> {%endif%}
        </div>

    </div>
    <div class="dropdown ">
        <select class="form-select btn dropdown-toggle text-start" name="sub_specialization" id="sub_specialization" {% if sub_spcs is empty %} disabled required="false" {%else%} required {%endif%}>
            <optgroup label="{{ 'Specializzazione'|_ }}">
                {% for sub in sub_spcs %}
                <option value="{{ sub['name'] }}">{{ sub['name'] }}</option>
                {%endfor%}
        </optgroup>
        </select>
    </div>
    {%endif%}
