<ul class="nav nav-tabs d-flex justify-content-end align-items-center align-content-center " role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" role="tab"  id="first-tab" data-bs-target="#tab-1" aria-controls="tab-1" ria-selected="true"  > <i class="fa-light fa-user-vneck-hair"></i></a></li>
    <li class="nav-item" role="presentation">
        <a class="nav-link " role="tab"  id="second-tab" data-bs-target="#tab-2" aria-controls="tab-2" ria-selected="true" >  <i class="fa-light fa-stethoscope"></i></a></li>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link " role="tab"  id="third-tab" data-bs-target="#tab-3" aria-controls="tab-3" ria-selected="true" ><i class="fa-light fa-shield-halved"></i></a></li>
    </li>
</ul>
