
<section class="login-form" id="main_container">
    <form  data-request="{{__SELF__}}::onChange"  data-request-success="javascript:;" id="PasswordResetForm" data-request-validate>
    <div class="container">
        <div class="row gy-3 gy-md-4 col-md-6 mx-auto" data-aos="fade-up">
            <div class="col-12">
                <div class="text-center">
                    <a href="/">
                    <img src="{{ __SELF__.logo|media }}" >
                    </a>
                    <p class="lead my-4">{{ "Modifica password"|_ }}</p>
                </div>
            </div>
            <div class="col">

            </div>
            <div class="col-md-12">
                <div>
                    <div class="d-flex justify-content-between align-items-center"><span>{{ "Passowrd"|_ }}</span>
                    </div>
                    <input class="form-control" type="password" name="password" />
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <div class="d-flex justify-content-between align-items-center"><span>{{ "Conferma password"|_ }}</span>
                    </div>
                    <input class="form-control" type="password" name="password_confirmation" />
                </div>
            </div>
            <div class="col-md-12" id="errors">

            </div>
            <div class="col">

                <button type="submit" class="btn btn-primary w-100">{{ "Modifica password"|_ }} </button>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="/register">{{ "Nuovo utente"|_ }}</a>
                    <a href="/login">{{ "Accedi"|_ }}</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-center align-items-center"><a class="small" href="/">{{ "Torna alla Homepage"|_ }}<br></a></div>
            </div>
        </div>
    </div>
    </form>
</section>
