<div class="d-flex justify-content-between align-items-center">
    <div><span>Nazionalità</span>
        {% if countries is not empty %}
        <span class="asterisco">*</span>
     {%endif%}
    </div>
    {% partial 'sso/general/tooltip' msg= 'ok' %}
</div>
<div class="dropdown">
    <select class="form-select btn dropdown-toggle text-start" name="place_of_birth" {% if countries is not empty %} required {%else%} disabled {%endif%}>
        <option value=""></option>
        {% for country in countries %}
        <option value="{{  country['name'] }}">{{ country['name'] }}</option>
        {%endfor%}
    </select>
</div>
