
<section class="registration-form" id="main" >
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form data-request="{{__SELF__}}::onRegister" data-request-success="javascript:;" id="regForm"
                    data-request-validate>
                    <div class="tab-registration">
                        <div class="tab-navigation">
                            {% if __SELF__.formtype == 'full' %}
                            {% partial __SELF__ ~ '::forms/topfull.htm' %}
                            {% else %}
                            {% partial  __SELF__ ~ '::forms/toplight.htm' %}
                            {% endif %}
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" role="tabpanel" id="tab-1"
                                aria-labelledby="first-tab">
                                {% partial  __SELF__ ~ '::forms/stepone.htm' %}
                            </div>
                            {% if __SELF__.formtype == 'full' %}
                            <div class="tab-pane fade" role="tabpanel" id="tab-2" aria-labelledby="second-tab">
                                {% partial  __SELF__ ~ '::forms/steptwo.htm' %}
                            </div>
                            {% endif %}
                            <div class="tab-pane fade" role="tabpanel" id="tab-3" aria-labelledby="third-tab">
                                {% partial  __SELF__ ~ '::forms/stepthree.htm' %}
                            </div>
                        </div>
                    </div>
                    <div id="errors" class="mt-5">

                    </div>
                </form>


            </div>
        </div>
    </div>
</section>


