{% if specs_2 is not empty %}
<div class="d-flex justify-content-between align-items-center">
    <div><span>Disciplina 2</span></div>
    {% partial 'sso/general/tooltip' msg= 'ok' %}
</div>
<div class="dropdown " >
    <select class="form-select btn dropdown-toggle text-start"
    name="specialization_2"
    id="specializations_2"
    oninput="this.className = 'btn dropdown-toggle text-start'"
    {% if specs_2 is empty %} disabled required="false" {%endif%}
    >
        <optgroup label="Discipline">
            <option value=""></option>
          {% for spec in specs_2 %}
          <option value="{{ spec['name'] }}">{{ spec['name'] }}</option>
          {%endfor%}
          </optgroup>
      </select>
</div>
{%endif%}

