$font-stack:  Nunito, sans-serif;
$header-font:  Nunito, sans-serif;
$primary-color: #496391;
$secondary-color: #A95260;
$success-color: #3C8287;
$danger-color: #F18535;
$warning-color: #A93A78;
$info-color: #3A4B9A;

$grey-lighter: #f8f8f8;
$grey-light: #b8b8b8;
$grey-medium: #999999;
$grey-dark: #333333;
$white-color: #ffffff;

$body-bg: #fff;
$body-color: #111;
$box-shadow: 0 0rem 1rem rgba(0,0,0,.15);
$box-shadow-small: 0 0rem 0.5rem rgba(0,0,0, .05);

$error-color: rgba(241, 133, 53, 1);
$message-error-border: solid 1px rgba(241, 133, 53, 1);
$box-shadow-error-small: 0 0rem 0.5rem rgba(241, 133, 53, 0.5);
$background-error: rgba(241, 133, 53, 1);


$box-shadow-ok-small: 0 0rem 0.5rem rgba(112,185,102, 0.5);
$message-ok-border: solid 1px rgba(112,185,102, 1);

$border-radius: 1rem;
$border-radius-small: 0.3rem;

$border-color: rgba(187,187,187,0.35);





  .bg-secondary, .btn-secondary {
    background-color: $secondary-color!important;
}

.bg-success, .btn-success {
    background-color: $success-color!important;
}

.bg-danger, .btn-danger {
    background-color: $danger-color!important;
}

.bg-warning, .btn-warning {
    background-color: $warning-color!important;
}

.bg-info, .btn-info {
    background-color: $info-color!important;
}

.bg-light {
	background-color: #fff!important;

}

.text-primary {
    color: $primary-color!important;
}
label.error {
    padding: 0.4rem;
    background-color: $background-error;
			//box-shadow: $box-shadow-error-small;
    border-radius: $border-radius-small;
	font-size: 0.9rem;
    line-height: 1.1;
    margin-bottom: 0;
    color: $white-color;
    width:100%;
    margin-top: 5px;
    & a {
        color: #fff !important;
        text-decoration: underline;
        font-weight: bold;
        text-transform: capitalize;
    }

}
div.error {
    padding: 0.4rem;
    background-color: $background-error;
			//box-shadow: $box-shadow-error-small;
    border-radius: $border-radius-small;
	font-size: 0.9rem;
    line-height: 1.1;
    margin-bottom: 0;
    color: $white-color;
    width:100%;
    margin-top: 5px;


}
