/**
 * Bootstrap - Starter Kit
 *
 * @author Prismify
 * @version 1.0.6
 */


// Pages
// -------------------------------------------------------------------------------- //
@import "pages/+import.pages";

.sso-logo {
    width:100px;
}
.login-form{
    position:relative;
    width:100%;
    height:100%;
    padding:4rem
}
.login-form .overlay{
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    z-index:-1
}
.login-form{
    position:relative;
    width:100%;
    height:100%;
    padding:4rem
}
.login-form .overlay{
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    z-index:-1
}
@media (max-width:576px){
    .squared{
        position:relative
    }
    .login-form{
        padding:1.5rem
    }
    .login-form .overlay{
        display:none
    }
    .login-form .tab-login{
        margin-top:0;
        border:none;
        box-shadow:none;
        border-radius:0;
        height:100%;
        padding:1rem 0
    }
}
@media (min-width:1112px){
    .login-form .tab-login{
        padding:2.5rem;
        margin:2rem 0
    }
}
.login-form .tab-login .nav-link{
    margin:0 .5rem;
    background-color:#a95260;
    border-radius:.3rem;
    border:1px solid rgba(187,187,187,.35);
    color:#fff
}
.login-form .tab-login .nav-link.active{
    background-color:#496391 !important
}
.login-form .tab-login .logo,.tab-registration .logo{
    width:150px;
    margin-right:.75rem
}
.login-form .tab-login .nav-item i,.tab-registration .nav-item i{
    margin:.5rem;
    font-size:1.6rem;
    opacity:.3;
    color:#a95260
}
.login-form .tab-login .nav-item .active i,.tab-registration .nav-item .active i{
    opacity:1;
    color:#496391
}
.login-form .tab-login .btn-secondary,.tab-registration .btn-secondary{
    box-shadow:0 0 .5rem rgba(0,0,0,.05)!important;
    background-color:#a95260
}
.login-form .tab-login .btn-secondary.btn-primary,.tab-registration .btn-secondary.btn-primary{
    box-shadow:0 0 .5rem rgba(0,0,0,.05)!important;
    border:1rem
}
.login-form .tab-login .dropdown,.tab-registration .dropdown{
    margin-bottom:0
}
.login-form .tab-login .dropdown .dropdown-toggle,.tab-registration .dropdown .dropdown-toggle{
    border-radius:.3rem;
    padding:.75rem;
    font-size:.9rem;
    box-shadow:0 0 1rem rgba(0,0,0,.15)
}
.login-form .tab-login .dropdown .show,.tab-registration .dropdown .show{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border:1px solid rgba(187,187,187,.35);
    border-bottom:none
}
.login-form .tab-login .dropdown .show .dropdown-item,.tab-registration .dropdown .show .dropdown-item{
    padding:.75rem;
    font-size:.9rem
}
.login-form .tab-login .dropdown .dropdown-menu{
    width:100%;
    top:-2px!important;
    padding-top:0;
    padding-bottom:0;
    border-radius:0 0 .3rem .3rem;
    border:1px solid rgba(187,187,187,.35);
    border-top:none;
    max-height:150px;
    overflow:scroll
}
.login-form .tab-login .dropdown .btn,.tab-registration .dropdown .btn{
    width:100%;
    margin-top:.25rem;
    padding:.75rem;
    border:1px solid rgba(187,187,187,.35);
    color:#dee2e6;
    font-size:.9rem;
    box-shadow:0 0 .5rem rgba(0,0,0,.05)
}
.login-form .tab-login .asterisco,.tab-registration .asterisco{
    color:#999;
    margin-left:.25rem
}
.login-form .tab-login a.small,.tab-registration a.small{
    font-size:.8rem;
    color:#999
}
.login-form .tab-login .form-control{
    margin-top:.25rem;
    padding:.75rem;
    box-shadow:0 0 .5rem rgba(0,0,0,.05);
    border-radius:.3rem;
    border-color:rgba(187,187,187,.35);
    font-size:.9rem
}
.form-control.error.ok:focus,.form-control.error:focus,.form-control:focus,.login-form .tab-login .form-control.error:focus,.login-form .tab-login .form-control.ok:focus,.login-form .tab-login .form-control:focus{
    color:#212529;
    background-color:#fff;
    border-color:rgba(187,187,187,.35)
}
.login-form .tab-login .form-control input:-webkit-autofill-and-obscured,.login-form .tab-login .form-control input:-webkit-autofill-strong-password,.login-form .tab-login .form-control input:-webkit-autofill-strong-password-viewable,.login-form .tab-login .form-controlinput:autofill{
    background-color:#dee2e6;
    background-image:none;
    color:#000
}
.login-form .tab-login .form-control::-webkit-input-placeholder{
    color:#dee2e6
}
.form-control.error,.login-form .tab-login .form-control.error{
    border:1px solid #f18535;
    box-shadow:0 0 .5rem rgba(241,133,53,.5)
}
.form-control.error.ok,.login-form .tab-login .form-control.ok{
    border:1px solid #70b966;
    box-shadow:0 0 .5rem rgba(112,185,102,.5)
}
