

p {
    font-size: 1rem;
    font-weight: 300;

    @media (min-width: 1200px) {
        font-size: 1.2rem;
    }
}

.lead {

    font-size: calc(0.8rem + 1rem);
		line-height: calc(1.2rem + 0.75rem);
    font-weight: 500;

}


.display-1 {
	font-size: calc(4rem + 0.5rem);
	letter-spacing: calc(-6px + 6px);
	font-weight: 800;
}


.text-primary {

	color: $primary-color!important;
}


.bg-color-white {
    background: rgb(240,240,240);
    background: linear-gradient(135deg, rgba(240,240,240,1) 0%, rgba(240,240,240,0.025) 30%);
}


.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: $border-radius-small;
		box-shadow: $box-shadow;


    &.btn-primary {
        background-color: $primary-color!important;

        &:hover{
            background-color: $secondary-color!important;
        }
    }

    &.btn-light {
        background-color: #fff;


        &:hover{
            background-color: $grey-light!important;
        }
    }
}


.btn-lg {
    padding: 1.25rem 2.5rem;
    border: none;
    border-radius: 10px;
		box-shadow: $box-shadow;


    &.btn-primary {
        background-color: $primary-color!important;

        &:hover{
            background-color: $secondary-color!important;
        }
    }

    &.btn-light {
        background-color: #fff;


        &:hover{
            background-color: $grey-light!important;
        }
    }
}

.form-control {
		border-radius: 10px;
		padding: 0.75rem 2rem;
		box-shadow: $box-shadow;

}

.form-control-lg {
		border-radius: 10px;
		padding: 1.5rem 2rem;
		box-shadow: $box-shadow;

}

.card-course {
	background-color: #fff;
	box-shadow: $box-shadow;
	border-radius: $border-radius-small;
	overflow: hidden;
	position: relative;

	.card-info {
			margin-bottom: 1rem;

		span {
			font-size: 0.75rem!important;
				}
		}

	.card-overlay {
		position: absolute;
		top: 1rem;
		left: 1rem;
	}

	h4 {
		font-size: 1.3rem;
	}

	p {
		font-size: 1rem;
		margin-bottom: 0px;
	}

	.card-image {

	}

}




@media (min-width: 992px) {

	.video-promo {
		border-radius: 10px;
		overflow: hidden;
		box-shadow: $box-shadow;
		border-radius: 20px;
		position: relative;
		top: -50px;
		z-index: 10;


	.ratio iframe {
		border-radius: 20px;
		overflow: hidden;
	}
			}

}


footer {
    color: #666666;

    p {
        font-size: 1rem;
        margin-bottom: 0;
    }

		a {
				color: #666666;

				&:hover {
						color: $primary-color;
				}
		}

}


.sidebar-menu {
	.nav-item{
		width: 100%;
		font-size: 0.9rem;



	a {
		display: flex;
		align-items: center!important;

			i {
				font-size: 1.6rem;
				font-weight: 200;
			}

			span {
				margin-left: 1rem;
			}
		}
}


	.nav-link.active {
		background-color: #fff!important;
		border-radius: 0px;
		color: $primary-color;
		border-bottom: 1px solid $border-color;
		padding: 1.5rem 1rem;
		vertical-align: middle!important;

	}

	.nav-link {
		//background-color: #f8f8f8!important;
		border-radius: 0px;
		color: $primary-color;
		border-bottom: 1px solid $border-color;
		padding: 1.5rem 1rem;
		vertical-align: middle!important;
		width: 100%!important;
}

}




//REGISTRATION FORM


//$tooltip-font-size:                 $font-size-sm;
//$tooltip-max-width:                 200px;
//$tooltip-color:                     $white;
//$tooltip-bg:                        $black;
//$tooltip-border-radius:             $border-radius;
//$tooltip-opacity:                   .9;
//$tooltip-padding-y:                 $spacer * .25;
//$tooltip-padding-x:                 $spacer * .5;
//$tooltip-margin:                    0;

//$tooltip-arrow-width:               .8rem;
//$tooltip-arrow-height:              .4rem;
//$tooltip-arrow-color:               $tooltip-bg;

.registration-form {


	.panel-left {
	background-color: $primary-color;
	padding: 3rem;

	& img {
		max-width: 80px;
	}

	@media (min-width: 992px) {
	padding: 2rem;


		& img {
		max-width: 160px;
		}
	}
}

.panel-right {
	padding: 0;

	@media (min-width: 992px) {
		padding: 2rem;
	}
}

.panel-right-content {
	padding: 2rem;
	//background-color: #f8f8f8;
	width: 100%;
	overflow: auto;
}

//.form-control::-webkit-input-placeholder {
//  color: #ccc;
//}
.reg-tabs-guid {

}

.tab-registration {

	padding: 1rem;

	@media (min-width: 1366px) {
		padding: 2rem;
	}


	& .nav-tabs {
		border-bottom: none;
	}

	& .nav-link {
		margin: 0 0.5rem;
		border-radius: $border-radius-small;
		border: 1px solid $border-color;
		color: $white-color;
		&.active {
			background-color: $primary-color;
			color: $white-color;
		}
	}

	& .logo {
			width:50px;
			margin-right:  0.75rem;

			@media (min-width: 1366px) {
				width:80px;
				margin: 0 0.75rem;
			}

		}

	& .nav-item {
		i {
			margin: 0.5rem;
			font-size: 1.6rem;
			opacity: 0.3;
			color: $secondary-color;
		}

		.active i {
			opacity: 1;
			color: $primary-color;
		}
	}

	& .btn-secondary {
		box-shadow: $box-shadow-small!important;
		//border: $border-radius-small;
		background-color: $secondary-color;

		&:hover{
					background-color: $primary-color!important;
			}

		&.btn-primary {
			box-shadow: $box-shadow-small!important;
			border: $border-radius;


    }
	}

	.dropdown {

		& .dropdown-toggle {
			border-radius: $border-radius-small;
			padding: 0.75rem;
			font-size: 0.9rem;

			@media (min-width: 1366px) {
				font-size: 1rem;
				padding: 0.75rem 1rem;
			}
		}

		& .show {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			border: 1px solid $border-color;
			border-bottom: none;

			& .dropdown-item {
				padding: 0.75rem;
				font-size: 0.9rem;

				@media (min-width: 1366px) {
					font-size: 1rem;
					padding: 0.75rem 1rem;
				}

			}

		}

		margin-bottom: 0px;

		& .dropdown-menu {
			width: 100%;
			top: -2px!important;
			padding-top: 0px;
			padding-bottom: 0px;
			border-radius: $border-radius-small;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border: 1px solid $border-color;
			border-top: none;
			max-height: 150px;
			overflow: scroll;
		}

		& .btn {
			width: 100%;
			margin-top: 0.25rem;
			padding: 0.75rem;
			border: 1px solid $border-color;
			color: $grey-light;
			font-size: 0.9rem;
			box-shadow: $box-shadow-small;


			@media (min-width: 1366px) {
				font-size: 1rem;
				padding: 0.75rem 1rem;
			}
		}
	}


		& .asterisco {
			color:$grey-medium;
			margin-left: 0.25rem;
            color:#d41e1d
		}

		& a.small {
			font-size: 0.8rem;
			color:$grey-medium;
	}

		& span {
			color: $grey-medium;
			font-size: 0.9rem;

			@media (min-width: 1366px) {
				font-size: 1rem;
			}
		}



		.registration-alert {
			padding: 0.75rem;
			background-color: $background-error;
			//box-shadow: $box-shadow-error-small;
			border-radius: $border-radius-small;
			& p {
				font-size: 0.9rem;
				line-height: 1.1;
				margin-bottom: 0;

				color: $white-color;
				& span {
					text-transform: none;
					font-weight: normal;
					color: $grey-dark;
					padding-left: 0.5rem;
				}

			}
		}


		.form-control,.form-select {
			margin-top: 0.25rem;
			padding: 0.75rem;
			box-shadow: $box-shadow-small;
			border-radius: $border-radius-small;
			border-color: $border-color;
			font-size: 0.9rem;

			@media (min-width: 1366px) {
				font-size: 1rem;
				padding: 0.75rem 1rem;
			}

			&:focus {
				color: #212529;
				background-color: #fff;
				border-color: $border-color;
			}

			&input:autofill, input:-webkit-autofill-strong-password, input:-webkit-autofill-strong-password-viewable, input:-webkit-autofill-and-obscured {
				background-color: $grey-light;
				background-image: none;
				color: rgb(0, 0, 0);
}

			&::-webkit-input-placeholder {
				color: $grey-light;
			}

			&.error {
				border: $message-error-border;
				box-shadow: $box-shadow-error-small;

			&:focus {
				color: #212529;
				background-color: #fff;
				border-color: $border-color;
			}
		}

		&.ok {
				border: $message-ok-border;
				box-shadow: $box-shadow-ok-small;

				&:focus {
				color: #212529;
				background-color: #fff;
				border-color: $border-color;
			}


		}

	}

	textarea.form-control {
		color: $grey-dark;
		margin-top: 0.5rem;
		height: 105px;
		font-size: 0.9rem;

		@media (min-width: 1366px) {
			font-size: 1rem;
		}
	}

	input[type="date"] {
     font-family: $font-stack;
  }
  & .tab-navigation {
    & .nav-link {
        margin: 0 0.5rem;
        padding: 0px;
        background-color: $secondary-color;
        border-radius: $border-radius-small;
        border: 1px solid $border-color;
        color: $white-color;
        background-color: unset !important;
        border: 0px !important;
        &.active {
            background-color: $primary-color;
            color: $white-color;
        }
    }
}
}


}

.tooltip-main {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: 700;
  background: $grey-lighter;
  border: 1px solid $grey-dark;
  color: $grey-dark;
  margin: 4px;
  float: right;
  text-align: left !important;
}

.btn-tooltip {
			padding: 0;
			box-shadow: none;
			font-size: 0.9rem;
			line-height: 0;
			color: $grey-medium;
			border-radius: 0px;
			width: 16px;

			@media (min-width: 1366px) {
				font-size: 1rem;
			}
		}


.tooltip-inner {
  max-width: 236px !important;
  font-size: 12px;
  padding: 0.5rem;
  background: $white-color;
  color: $grey-dark;
  border: 1px solid $grey-dark;
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}


