


.sso_lead {

    font-size: calc(0.8rem + 1rem);
		line-height: calc(1.2rem + 0.75rem);
    font-weight: 500;

}



.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: $sso-border-radius-small;
		box-shadow: $sso-box-shadow;


    &.btn-primary {
        background-color: $sso-primary-color!important;

        &:hover{
            background-color: $sso-secondary-color!important;
        }
    }

    &.btn-light {
        background-color: #fff;


        &:hover{
            background-color: $sso-grey-light!important;
        }
    }
}


.btn-lg {
    padding: 1.25rem 2.5rem;
    border: none;
    border-radius: 10px;
		box-shadow: $sso-box-shadow;


    &.btn-primary {
        background-color: $sso-primary-color!important;

        &:hover{
            background-color: $sso-secondary-color!important;
        }
    }

    &.btn-light {
        background-color: #fff;


        &:hover{
            background-color: $sso-grey-light!important;
        }
    }
}

.form-control {
		border-radius: 10px;
		padding: 0.75rem 2rem;
		box-shadow: $sso-box-shadow;

}

.form-control-lg {
		border-radius: 10px;
		padding: 1.5rem 2rem;
		box-shadow: $sso-box-shadow;

}


//REGISTRATION FORM


//$tooltip-font-size:                 $font-size-sm;
//$tooltip-max-width:                 200px;
//$tooltip-color:                     $white;
//$tooltip-bg:                        $black;
//$tooltip-border-radius:             $sso-border-radius;
//$tooltip-opacity:                   .9;
//$tooltip-padding-y:                 $spacer * .25;
//$tooltip-padding-x:                 $spacer * .5;
//$tooltip-margin:                    0;

//$tooltip-arrow-width:               .8rem;
//$tooltip-arrow-height:              .4rem;
//$tooltip-arrow-color:               $tooltip-bg;

.registration-form {


	.panel-left {
	background-color: $sso-primary-color;
	padding: 3rem;

	& img {
		max-width: 80px;
	}

	@media (min-width: 992px) {
	padding: 2rem;


		& img {
		max-width: 160px;
		}
	}
}



.tab-registration {

	padding: 1rem;

	@media (min-width: 1366px) {
		padding: 2rem;
	}


	& .nav-tabs {
		border-bottom: none;
	}

	& .nav-link {
		margin: 0 0.5rem;
		border-radius: $sso-border-radius-small;
		border: 1px solid $sso-border-color;
		color: $sso-white-color;
		&.active {
			background-color: $sso-primary-color;
			color: $sso-white-color;
		}
	}

	& .logo {
			width:150;
			margin-right:  0.75rem;

			@media (min-width: 1366px) {
				width:150px;
				margin: 0 0.75rem;
			}

		}

	& .nav-item {
		i {
			margin: 0.5rem;
			font-size: 1.6rem;
			opacity: 0.3;
			color: $sso-secondary-color;
		}

		.active i {
			opacity: 1;
			color: $sso-primary-color;
		}
	}

	& .btn-secondary {
		box-shadow: $sso-box-shadow-small!important;
		//border: $sso-border-radius-small;
		background-color: $sso-secondary-color;

		&:hover{
					background-color: $sso-primary-color!important;
			}

		&.btn-primary {
			box-shadow: $sso-box-shadow-small!important;
			border: $sso-border-radius;


    }
	}

	.dropdown {

		& .dropdown-toggle {
			border-radius: $sso-border-radius-small;
			padding: 0.75rem;
			font-size: 0.9rem;

			@media (min-width: 1366px) {
				font-size: 1rem;
				padding: 0.75rem 1rem;
			}
		}

		& .show {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			border: 1px solid $sso-border-color;
			border-bottom: none;

			& .dropdown-item {
				padding: 0.75rem;
				font-size: 0.9rem;

				@media (min-width: 1366px) {
					font-size: 1rem;
					padding: 0.75rem 1rem;
				}

			}

		}

		margin-bottom: 0px;

		& .dropdown-menu {
			width: 100%;
			top: -2px!important;
			padding-top: 0px;
			padding-bottom: 0px;
			border-radius: $sso-border-radius-small;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border: 1px solid $sso-border-color;
			border-top: none;
			max-height: 150px;
			overflow: scroll;
		}

		& .btn {
			width: 100%;
			margin-top: 0.25rem;
			padding: 0.75rem;
			border: 1px solid $sso-border-color;
			color:#000;
			font-size: 0.9rem;
			box-shadow: $sso-box-shadow-small;


			@media (min-width: 1366px) {
				font-size: 1rem;
				padding: 0.75rem 1rem;
			}
		}
	}


		& .asterisco {
			color:$sso-grey-medium;
			margin-left: 0.25rem;
            color:#d41e1d
		}

		& a.small {
			font-size: 0.8rem;
			color:$sso-grey-medium;
	}

		& span {
			color: $sso-grey-medium;
			font-size: 0.9rem;

			@media (min-width: 1366px) {
				font-size: 1rem;
			}
		}



		.registration-alert {
			padding: 0.75rem;
			background-color: $sso-background-error;
			//box-shadow: $sso-box-shadow-error-small;
			border-radius: $sso-border-radius-small;
			& p {
				font-size: 0.9rem;
				line-height: 1.1;
				margin-bottom: 0;

				color: $sso-white-color;
				& span {
					text-transform: none;
					font-weight: normal;
					color: $sso-grey-dark;
					padding-left: 0.5rem;
				}

			}
		}


		.form-control,.form-select {
			margin-top: 0.25rem;
			padding: 0.75rem;
			box-shadow: $sso-box-shadow-small;
			border-radius: $sso-border-radius-small;
			border-color: $sso-border-color;
			font-size: 0.9rem;

			@media (min-width: 1366px) {
				font-size: 1rem;
				padding: 0.75rem 1rem;
			}

			&:focus {
				color: #212529;
				background-color: #fff;
				border-color: $sso-border-color;
			}

			&input:autofill, input:-webkit-autofill-strong-password, input:-webkit-autofill-strong-password-viewable, input:-webkit-autofill-and-obscured {
				background-image: none;
				color: rgb(0, 0, 0);
}

			&::-webkit-input-placeholder {
				color: $sso-grey-light;
			}

			&.error {
				border: $sso-message-error-border;
				box-shadow: $sso-box-shadow-error-small;

			&:focus {
				color: #212529;
				background-color: #fff;
				border-color: $sso-border-color;
			}
		}

		&.ok {
				border: $sso-message-ok-border;
				box-shadow: $sso-box-shadow-ok-small;

				&:focus {
				color: #212529;
				background-color: #fff;
				border-color: $sso-border-color;
			}


		}

	}

	textarea.form-control {
		color: $sso-grey-dark;
		margin-top: 0.5rem;
		height: 105px;
		font-size: 0.9rem;

		@media (min-width: 1366px) {
			font-size: 1rem;
		}
	}


  & .tab-navigation {
    & .nav-link {
        margin: 0 0.5rem;
		font-size: 20px;
        padding: 0px;
        background-color: $sso-secondary-color;
        border-radius: $sso-border-radius-small;
        border: 1px solid $sso-border-color;
        color: $sso-white-color;
        background-color: unset !important;
        border: 0px !important;
        &.active {
            background-color: $sso-primary-color;
            color: $sso-white-color;
        }
    }
}
}


}

.tooltip-main {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: 700;
  background: $sso-grey-lighter;
  border: 1px solid $sso-grey-dark;
  color: $sso-grey-dark;
  margin: 4px;
  float: right;
  text-align: left !important;
}

.sso-btn-tooltip {
			padding: 0;
			box-shadow: none;
			font-size: 0.9rem;
			line-height: 0;
			color: $sso-grey-medium;
			border-radius: 0px;
			width: 16px;

			@media (min-width: 1366px) {
				font-size: 1rem;
			}
		}


.tooltip-inner {
  max-width: 236px !important;
  font-size: 12px;
  padding: 0.5rem;
  background: $sso-white-color;
  color: $sso-grey-dark;
  border: 1px solid $sso-grey-dark;
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}


